.container 
  .row
    .left-content.col-9.mt-5 
      .card 
        .card-body
          .row
            .profile-image.col-3
              = image_tag 'http://placehold.jp/eeeeee/cccccc/200x150.png?text=No%20Image', class:'avator'
            .profile-text.col-9
              .profile-name 
                %h3 ユーザー名
              %hr
              .profile-text 
                %p 自己紹介
              %hr 
              .profile-gender 
                %p 性別
              %hr 
              .profile-age 
                %p 年齢
      .user-event.mt-5
        .text-title.mb-4 投稿イベント一覧
        - current_user.events.each do |event|
          = render 'commons/event', event: event

    .right-content.col-3.mt-5 
      = render 'link' 