@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'flash';
@import 'card';

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: black;
}

.login {
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.login-title {
  text-align: center;
}

.form {
  margin-bottom: 10px;
}

.login-button {
  padding: 10px;
  margin-top: 10px;
}

.search-title {
  text-align: center;
  padding: 60px;
}