@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'flash';
@import 'card';
@import 'event';
@import 'button';

html {
  min-height: 100vh; 
  position: relative;
  padding-bottom: 60px; 
  box-sizing: border-box;
}
.header {
  z-index: 1;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: gray;
}

.footer-container {
  width: auto;
  margin: 10px 0;
}
.footer-text {
  color: white;
  text-align: center;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: black;
}

.login {
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.login-title {
  text-align: center;
}

.form {
  margin-bottom: 10px;
}


.title {
  text-align: center;
  padding: 40px;
}

.search-content {
  margin-bottom: 10px;
}

