.login-button {
  padding: 10px;
  margin-top: 10px;
}

.join-button {
  margin: 0 auto;
  display: block;
  padding: 10px 35px;
}

.edit-button {
  margin-right: 7px;
}

.search-button {
  width: 60%;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.post-button {
  margin: 0 auto;
  display: block;
  width: 15%;
}