.main-image {
  margin-bottom: 30px;
}
.event-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.status {
  background-color:  #999;
  color: white;
}

.close-button {
  cursor: not-allowed;
  pointer-events: none;
}


.preview-image {
  width: 40%;
  height: auto;
}

.event-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.title-field {
  display: flex;
  justify-content: space-between;
}

.text-title {
  font-size: 20px;
  background-color: darkgrey;
  color: aliceblue;
  line-height: 2.0;
  margin-bottom: 10px;
  margin-top:  10px;
  padding: 0 10px;
}

.second-title {
  color: gray;
  font-size: 13px;
}

.option {
  display: flex;
  justify-content: center;
}

.pagination {
  justify-content: center;
}

.user-name {
  font-size: 20px;
}

.clip {
  display: flex;
  padding: 12px;
    &__icon {
      border: 1px solid #000;
      padding: 5px;
      border-radius: 5px;
      color:black;
    }
    &__icon:hover {
      background-color:#c0c0c0;
      color: white;
    }
    &__icon::before {
      font-family: "Font Awesome 5 Free";
      content: '\f0c6';
      font-weight: 900;
    }

    &__active {
      border: 1px solid #000;
      padding: 5px;
      border-radius: 5px;
      color:white;
      background-color:#c0c0c0;
    }
    &__active:hover {
      opacity: 0.5;
    }
    &__active::before {
      font-family: "Font Awesome 5 Free";
      content: '\f0c6';
      font-weight: 900;
    }
}

.event-address {
  font-size: 14px;
}

#map {
  height: 300px;
  width: 100%;
}
