.guide-bg {
  background-color: #f9f9f9;
}
.guide-image {
  width: 100%;
  height: 400px;
}

@media only screen and (max-width: 767px) {
  .guide-title {
    font-size: 25px;
  }

  .guide-image {
    height: 300px;
  }

}