.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.preview-avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.avatar-normal {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.avatar-mini {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.link-title {
  line-height: 2.0;
  background-color: black;
  color: white;
  padding: 0 10px;
  font-size: 15px;
}

.profile-link:hover {
  opacity: 0.5;
}

.profile-name {
  font-size: 30px;
  font-weight: bold;
}